:root {
    --primary-color: #ee4d2d;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Common */

/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    animation: growth linear 0.1s;
}

/* Button */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    cursor: pointer;
    outline: none;
    color: var(--text-color);
    line-height: 1.6rem;
    background: #fff;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    padding: 0 8px;
    font-size: 1.2rem;
}

.btn.btn--primary{
    background-color: var(--primary-color);
    color: #fff;
}

/* Selection of price filter */

.select-price {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #fff;
    cursor: default;
}

.select-price::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 20px;
}

.select-price__lable {
    font-size: 1.4rem;
}

.select-price__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
    cursor: pointer;
}

.select-price__list {
    border-radius: 2px;
    padding: 10px 12px;
    margin: 0;
    list-style: none;
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    left: 0;
    background-color: #fff;
    color: var(--text-color);
    display: none;
    z-index: 1;
}

.select-price__link {
    display: block;
    padding: 6px 0;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.select-price__link:hover {
    color: var(--primary-color);
}

.select-price:hover .select-price__list {
    display: block;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: #fff;
}

.pagination-item--active:hover .pagination-item__link {
    filter: brightness(98%);
}

.pagination-item__link {
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;    /* Đề phòng TH số lượng page tăng thì nó tự kéo dài */
    height: 30px;
}

/* Footer */

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    display: flex;
    align-items: center;
    padding: 6px 0;
    /* position: relative;
    right: 0;
    transition: right 0.2s linear; */
}

.footer-item__link:hover {
    color: var(--primary-color);
    /* right: -4px; */
}

.footer-item__icon {
    height: 16px;
    width: 16px;
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
    margin-right: 12px;
}

.footer__download-apps {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
}

.footer__download-apps-img {
    height: 20px;
}

/* Footer bottom */

.footer-bottom__wrap {
    margin-top: 32px;
    padding: 42px 0 57px;
    background-color: #f5f5f5;
    text-align: center;
}

.footer__policy-list {
    margin: 0;
    list-style-type: none;
    margin-bottom: 40px;
}

.footer__policy-item {
    padding: 0 25px;
    display: inline-block;
}

.footer__policy-seperate.footer__policy-item {
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}

.footer__policy-item-link {
    text-align: center;
    text-decoration: none;
    color: #737373;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.footer__address {
    color: #555;
    font-size: 1.8rem;
}